@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500;600&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Outfit', sans-serif; */
}

body {
  background: #000;
}

/* sabka color white krdiya because bacground black hai */
h1,
h4,
p,
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* GLOBAL PROPERTIES LIKE EVERY BTN IS SAME */

.btn {
  /* Because btns har same rkhne hai isliye */
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  /* background: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: all 0.5s;
}
